* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}

body {
    background: #ffffff;
    color: #222;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(8px);
    z-index: 1000;
}
.navbar .logo {
    color: #fff;
    font-size: 22px;
    font-weight: